#Ignore /TODO file
/TODO

#Ignore .a and .o files
*.a
*.o

#Ignore /CODE_STRUCTURE file
/CODE_STRUCTURE

#Ignore contents of the bin/ directory
bin/*
#Except the .gitkeep file (that will keep the directory even though it's empty)
!bin/.gitkeep

#Ignore /tests folder
/tests/

#Ignore /Reference folder
/Reference/
